blockquote.comment {
  margin:0 20px 0 20px;
}

ul.set-infos {
  margin-top:20px;
}

ul.set-infos .error {
  color:#f00;
  font-weight:bold;
  margin-bottom:10px;
  list-style:none;
}

ul.download-links {
  list-style:none;
  padding-left:25px;
}

ul.download-links .warning {
  color:#FF7F00;
  font-weight:bold;
  margin-top:10px;
  margin-left:20px;
}

a.cancel-down {
  display:inline-block;
  margin-top:10px;
  padding:2px 5px;
  font-weight:bold;
  color:#a11;
  border:1px solid #a11;
}
  a.cancel-down:hover {
    color:#f00;
    border-color:#f00;
  }

.downloadSizeDetails {
  font-style:italic;
  font-size:80%;
}

#progressBar {
  width:300px;
  position:relative;
}
#progressBar_pbImage {
  border-radius:12px;
}
#progressBar_pbText {
  color:white;
  font-weight:bold;
  font-size:16px;
  line-height:16px;
  position:absolute;
  right:5px;
  top:50%;
  margin-top:-9px;
  text-shadow:0 0 3px #000;
}