.chzn-choices li {
  clear:none !important;
}

.property {
  width:auto !important;
}

input[name='max_size'], input[name='max_elements'] {
  border:none;
  background:none;
  font-weight:bold;
  margin-left:5px;
}

#max_size, #max_elements {
  display:inline-block;
  width:300px;
}

.table2 .action {
  width:70px;
}
.table2 .user {
  width:120px;
}
.table2 .date {
  width:180px;
}
.table2 .size {
  width:100px;
}
.table2 .images {
  width:100px;
}
.table2 .archives {
  width:110px;
}
.table2 .status {
  width:100px;
}